<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>logueoadmin</servlet-name>
        <servlet-class>servlets.logueoadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seteonumerosecreto</servlet-name>
        <servlet-class>servlets.seteonumerosecreto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jugador_admin</servlet-name>
        <servlet-class>servlets.jugador_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jugando</servlet-name>
        <servlet-class>servlets.jugando</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reiniciarSessions</servlet-name>
        <servlet-class>servlets.reiniciarSessions</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logueoadmin</servlet-name>
        <url-pattern>/logueoadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seteonumerosecreto</servlet-name>
        <url-pattern>/seton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jugador_admin</servlet-name>
        <url-pattern>/jugador_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jugando</servlet-name>
        <url-pattern>/jugando</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reiniciarSessions</servlet-name>
        <url-pattern>/reiniciarSessions</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
